{% extends 'base.html' %}

{% block content %}
        <div class="card" style="width:60%; margin-bottom:15px;">
                        <div class="card-body">
                                <div class="card-title flex-set fixture-top">
                                        <div class="flex-set" style="margin-right:25px;">
                                                <div class="img-circle img-fixture">
                                                        <img src={{player.image_uri.url}} />
                                                </div>   
                                                <ul style="list-style-type:none;">
                                                        <li>
                                                                <h2 style="margin-left:0px;font-weight:bold;">{{ player.first_name }} {{ player.last_name }}</h2>
                                                        </li>
                                                        <li>
                                                                <p class="card-text">Team: {{ player.team.name }} </p>
                                                        </li>
                                                        <li>
                                                                 <p class="card-text">Jersey: {{ player.jersey_number }} </p>
                                                        </li>
                                                        <li>
                                                                 <p class="card-text">Country: {{ player.country }} </p>
                                                        </li>
                                                </ul>                                             
                                </div>
                                <div class="card-button flex-set" style="justify-content: center;"> 
                                        <a href="{% url 'PlayerUpdate'  player.identifier %}" class="btn btn-primary">Update</a>
                                </div>
                        </div>
                </div>
{% endblock %}
