{% extends 'base.html' %}

{% block content %}

        <div class="flex-set" style="margin-bottom:20px;">
                <h1 style="margin:0;padding:0;">Player List</h1>
                <a class="btn btn-success" href="{% url 'PlayerCreate' %}">
                <i class="fa fa-plus-circle"></i>
                        Create Player Profile
                </a>
        </div>

        {% for player in player_list %} 
                <div class="card" style="width:60%; margin-bottom:15px;">
                        <div class="card-body">
                                <div class="card-title flex-set fixture-top">
                                        <div class="flex-set" style="margin-right:25px;">
                                                <div class="img-circle img-fixture">
                                                        <img src={{player.image_uri.url}} />
                                                </div>
                                                <h2 style="margin-left:10px;font-weight:bold;">{{ match.fixture.team1.name }}</h2>
                                        </div> 
                                                <h2 style="margin-left:10px;font-weight:bold;">{{ player.first_name }} {{ player.last_name }}</h2>
												<p class="card-text">  {{ player.team.name }} </p>
                                        </div>
                                </div>
                                <div class="card-button flex-set" style="justify-content: center;"> 
                                        <a href="{% url 'PlayerDetail'  player.identifier %}" class="btn btn-primary" style="margin-right:15px;"><i class="fa fa-pencil"></i>Detail</a>
                                        <a href="{% url 'PlayerDelete'  player.identifier %}" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
                                </div>
                        </div>
                </div>
        {% endfor %}
        
{% endblock %}
